:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.body-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
  width: 100%;
  flex: 1;
}

.hit-button {
  font-size: xx-large;
  font-family: inherit;
  color: white;
  height: 8rem;
  width: 8rem;
  border-radius: 8rem;
  background-color: red;
  box-shadow: 3px 3px 5px #aaa;
  border: none;

  &:hover {
    box-shadow: inset 3px 3px 5px #aaa;
  }

  &:active {
    box-shadow: inset -3px -3px 5px #aaa;
  }
}

.bat-img {
  position: absolute;
  height: 18rem;
  bottom: 0;
  left: 60%;
  transform-origin: bottom left;

  &.hit{
    rotate: -35deg;
  }
}

.tonde-img {
  height: 80%;
}
